<nav class="bg-blue-600 text-white p-4 shadow">
    <div class="container mx-auto flex justify-between items-center">
      <a class="text-xl font-bold" >IdiomasApp</a>
      <ul class="flex gap-6 items-center relative">
    <!-- ...otros botones del dropdown -->

  <button (click)="refreshData('lucia')" class="w-full text-left px-4 py-2 hover:bg-gray-100">
    🔄 Refrescar datos
  </button>

  
        <!-- Dropdown: Inglés -->
        <li class="relative" data-dropdown>
            <button (click)="toggleDropdown()" class="hover:text-yellow-300 focus:outline-none">
              Inglés ▼
            </button>
          
            <ul
              *ngIf="showDropdown"
              class="absolute bg-white text-black rounded shadow-md mt-2 w-40 z-50"
            >

            <li>
              <button (click)="navigate('/')" class="w-full text-left px-4 py-2 hover:bg-gray-100">
                Home
              </button>
            </li>
            
            <li>
              <button (click)="navigate('/ingles/listening')" class="w-full text-left px-4 py-2 hover:bg-gray-100">
                Listening
              </button>
            </li>

            <li>
              <button (click)="navigate('/ingles/relax')" class="w-full text-left px-4 py-2 hover:bg-gray-100">
                Relax
              </button>
            </li>
            </ul>
          </li>
          
          
          
      </ul>
    </div>
  </nav>
  